html { }
body { }
h1 { }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; padding: 1em 0; margin: 1em 0; }
nav form { text-align: right; }
footer { background: lightgray; padding: 1em 0; margin: 1em 0; text-align: center; }

/* Style for front page examples */
.card { margin: 1em; }
.card h3 { text-align: left; }

/* Style for family detail page*/
.domain-list { max-height: 15em; overflow-y: auto; }
img.twodprot_img { max-height: 30em; }

/* Search placeholder text size */
::-webkit-input-placeholder { font-size: .8em; }
:-moz-placeholder { /* Firefox 18- */ font-size: .8em; }
::-moz-placeholder {  /* Firefox 19+ */ font-size: .8em; }
