<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>

  <body>
    <nav class="container navbar navbar-expand-lg navbar-light bg-light">
      <h1 class="navbar-brand"><a href="{{ url_for('items.index') }}" class="btn btn-primary btn-lg">2DProts</a></h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <h2 class="navbar-nav"><a href="{{ url_for('items.custom') }}" class="btn btn-outline-primary">Custom entry</a></h2>
        <h2 class="navbar-nav ml-3"><a href="{{ url_for('items.manual') }}" class="btn btn-outline-primary">User manual</a></h2>
        <h2 class="navbar-nav ml-3"><a href="{{ url_for('static', filename='2DProt.pdf') }}" class="btn btn-outline-primary" target="_blank" title="Description of methods (PDF, opens in new window/tab)">Description of methods</a></h2>
      </div>

      <form class="form-inline my-2 my-lg-0" method="post" action="{{ url_for('items.search') }}">
        <input class="form-control mr-sm-2" type="search" placeholder="e.g., 1r9nA01, 1r9n, 2.140.10.30" aria-label="Search" value="{% if query is defined %}{{ query }}{% endif %}" name="query" id="query"/>
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search 2DProts</button>
      </form>
    </nav>

    <section class="container">
      <header>
        {% block header %}{% endblock %}
      </header>

      {% for message in get_flashed_messages() %}
        <div class="alert alert-primary" role="alert">{{ message }}</div>
      {% endfor %}

      {% block content %}{% endblock %}
    </section>

    <footer class="container bg-light">
      <img alt="ELIXIR logo" src="{{ url_for('static', filename='images/ELIXIR_CZECHREPUBLIC_white_background_small.png') }}" style="height: 107px;"><br/>
      <strong>2DProts</strong> is a part of services provided by <a href="https://www.elixir-czech.cz/">ELIXIR</a> – European research infrastructure for biological information. For other services provided by ELIXIR's Czech Republic Node visit <a href="https://www.elixir-czech.cz/services">www.elixir-czech.cz/services</a>.
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
