[Unit]
Description={{ systemd_unit_name }} Timer

[Timer]
OnCalendar={{ systemd_timer_OnCalendar }}
Persistent={{ systemd_timer_Persistent }}
AccuracySec={{ systemd_timer_AccuracySec }}
RandomizedDelaySec={{ systemd_timer_RandomizedDelaySec }}

[Install]
WantedBy=timers.target
