{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}API documentation{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>Domains</h2>

<dl>
    <dt><code>/files/domain/&lt;domain&gt;/svg</code> or <code>/files/domain/&lt;domain&gt;/&gt;version&vt;/svg</code></dt>
    <dd>Domain SVG image file.</dd>

    <dt><code>/files/domain/&lt;domain&gt;/json</code> or <code>/files/domain/&lt;domain&gt;/&gt;version&vt;/json</code></dt>
    <dd>Domain image JSON file TODO.</dd>

    <dt><code>/files/domain/&lt;domain&gt;/layout.json</code> or <code>/files/domain/&lt;domain&gt;/&gt;version&vt;/layout.json</code></dt>
    <dd>Domain layout JSON file TODO.</dd>
</dl>

<h2>Families</h2>

<dl>
    <dt><code>/files/family/&lt;family&gt;/multiple[|2|3|4|5].[svg|png]</code> or <code>/files/family/&lt;family&gt;/&gt;version&vt;/multiple[|2|3|4|5].[svg|png]</code></dt>
    <dd>Family SVG or PNG files in various configurations. PNG only available for "" and "2".</dd>

    <dt><code>/files/family/&lt;family&gt;/domain_list.txt</code> or <code>/files/family/&lt;family&gt;/&gt;version&vt;/domain_list.txt</code></dt>
    <dd>Domains in a given family, one domain per line.</dd>

    <dt><code>/files/family/&lt;family&gt;/rotation.json</code> or <code>/files/family/&lt;family&gt;/&gt;version&vt;/rotation.json</code></dt>
    <dd>Info about family rotation TODO.</dd>

    <dt><code>/files/family/&lt;family&gt;/ligands.json</code> or <code>/files/family/&lt;family&gt;/&gt;version&vt;/ligands.json</code></dt>
    <dd>List of ligands in a given family.</dd>

    <dt><code>/family/&lt;family&gt;/&gt;version&vt;.csv</code></dt>
    <dd>Domains in a given family in given version in CSV file.</dd>
</dl>

<h2>Clusters</h2>

<dl>
    <dt><code>/files/cluster/&lt;family&gt;/ligands.json</code> or <code>/files/cluster/&lt;family&gt;/&gt;version&vt;/ligands.json</code></dt>
    <dd>List of ligands in a given cluster.</dd>
</dl>

<h2>Proteins</h2>

<dl>
    <dt><code>/files/protein/&lt;protein&gt;/svg</code> or <code>/files/protein/&lt;protein&gt;/&lt;version&gt;/svg</code></dt>
    <dd>Protein SVG image.</dd>

    <dt><code>/files/protein/&lt;protein&gt;/svg_l</code> or <code>/files/protein/&lt;protein&gt;/&lt;version&gt;/svg_l</code></dt>
    <dd>Protein SVG image with ligands.</dd>

    <dt><code>/files/protein/&lt;protein&gt;/chains.json</code> or <code>/files/protein/&lt;protein&gt;/&lt;version&gt;/chains.json</code></dt>
    <dd>JSON file with list of chains protein consist of.</dd>
</dl>

{% endblock %}
