{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Cluster {{ cluster.name }}{% endblock %}</h1>
  <style>
  .main_window_no {
      position: absolute;
      top: 100px;
      left: 0px;
      display: none;
      height: 600px;
  }
  </style>
  <style>
  .main_window
  {
      position: absolute;
      top: 100px;
      left: 0px;
      display: block;
      height: 600px;
  }
  </style>
  <style>
  .side_window_no {
      position: absolute;
      top: 75px;
      left: 15px;
      display: none;
      height: 200px;
  }
  </style>
  <style>
  .side_window
  {
      position: absolute;
      top: 75px;
      left: 15px;
      display: block;
      height: 200px;
  }
  </style>
  <script>
  function SwitchVisibility(element_name) {
    // get the clock
    var myElement = document.getElementById(element_name);

    // get the current value
    var displaySetting = myElement.style.display;

    // now toggle the clock, depending on current state
    if (displaySetting == 'block') {
      // is visible. hide it
      myElement.style.display = 'none';
    }
    else {
      // is hidden. show it
      myElement.style.display = 'block';
    }
  }
  </script>
  <script>
  function SwitchVisibility2(element_name1, element_name2) {
    // get the clock
    var myElement1 = document.getElementById(element_name1);
    var myElement2 = document.getElementById(element_name2);

    // get the current value
    var displaySetting = myElement1.style.display;

    // now toggle the clock, depending on current state
    if (displaySetting == 'block') {
      // is visible. hide it
      myElement1.style.display = 'none';
      myElement2.style.display = 'block';
    }
    else {
      // is hidden. show it
      myElement1.style.display = 'block';
      myElement2.style.display = 'none';
    }
  }
  </script>
{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-sm-9">
      <h4>2D multi diagram</h4>


      <input type="checkbox" class="active" id="transparency" onchange="SwitchVisibility2('sses_multi_img', 'sses2_multi_img');SwitchVisibility2('sses_multi_fam', 'sses2_multi_fam');" checked>
      <label for="transparency"> Transparency </label>

      <input type="checkbox" id="template" onchange="SwitchVisibility('template_multi_img');SwitchVisibility('template_multi_fam')">
      <label for="template"> Template </label>

      <input type="checkbox" id="ligands" onchange="SwitchVisibility('ligands_multi_img');SwitchVisibility('ligands_multi_fam');">
      <label for="ligands"> Ligands </label>

      <input type="checkbox" id="channels" onchange="SwitchVisibility('channels_multi_img');SwitchVisibility('channels_multi_fam');">
      <label for="channels"> Channels </label>

      <div class="tab-content">
        <figure class="figure">
          <a href="{{ url_for('static', filename=cluster_dir+'/' + cluster.name + '_sses2.svg') }}">
            <img id="sses_multi_img" src="{{ url_for('static', filename=cluster_dir+'/' + cluster.name + '_sses.svg') }}" class="main_window_no" alt="Multi image for {{ cluster.name }} transparent">
            <img id="sses2_multi_img" src="{{ url_for('static', filename=cluster_dir+'/' + cluster.name + '_sses2.svg') }}" class="main_window" alt="Multi image for {{ cluster.name }} transparent">
            <img id="ligands_multi_img" src="{{ url_for('static', filename=cluster_dir+'/' + cluster.name + '_ligands.svg') }}" class="main_window_no" alt="Multi image for {{ cluster.name }}  transparent">
            <img id="template_multi_img" src="{{ url_for('static', filename=cluster_dir+'/' + cluster.name + '_template.svg') }}" class="main_window_no" alt="Multi image for {{ cluster.name }}  transparent">
            <img id="channels_multi_img" src="{{ url_for('static', filename=cluster_dir+'/' + cluster.name + '_channels.svg') }}" class="main_window_no" alt="Multi image for {{ cluster.name }}  transparent">
          </a>
        </figure>
          <p style="margin-bottom:610px"></p>
          Multi-diagram for family cluster: {{ cluster.name }}(<a href="{{ url_for('static', filename=cluster_dir+'/' + cluster.name + '_sses2.svg') }}">SSEs transparent</a>, 
          <a href="{{ url_for('static', filename=cluster_dir+'/' + cluster.name + '_sses.svg') }}">SSEs standart</a>, 
          <a href="{{ url_for('static', filename=cluster_dir+'/' + cluster.name + '_template.svg') }}"> template</a>, 
          <a href="{{ url_for('static', filename=cluster_dir+'/' + cluster.name + '_ligands.svg') }}"> ligands</a>, 
          <a href="{{ url_for('static', filename=cluster_dir+'/' + cluster.name + '_channels.svg') }}"> channels</a>).
         
      </div>

    </div>

   <div class="col-sm-3">
      <h4 class="h3">Member of family: </h4><h5> <a href="{{ url_for('items.family', family=cluster_family.name, version=cluster_version.name) }}">{{ cluster_family.name }}</a></h5>
      <a href="{{ url_for('items.family', family=cluster_family.name, version=cluster_version.name) }}"> 
        <img id="sses_multi_fam" src="{{ url_for('static', filename=cluster_family_dir+"/"+cluster_family.name+'_sses2.svg') }}" class="side_window" alt="Multi image for {{ cluster_family.name }} family"></a>
        <img id="sses2_multi_fam" src="{{ url_for('static', filename=cluster_family_dir+"/"+cluster_family.name+'_sses.svg') }}" class="side_window_no" alt="Multi image for {{ cluster_family.name }} family"></a>
        <img id="ligands_multi_fam" src="{{ url_for('static', filename=cluster_family_dir+"/"+cluster_family.name+'_ligands.svg') }}" class="side_window_no" alt="Multi image for {{ cluster_family.name }} family"></a>
        <img id="template_multi_fam" src="{{ url_for('static', filename=cluster_family_dir+"/"+cluster_family.name+'_template.svg') }}" class="side_window_no" alt="Multi image for {{ cluster_family.name }} family"></a>
        <img id="channels_multi_fam" src="{{ url_for('static', filename=cluster_family_dir+"/"+cluster_family.name+'_channels.svg') }}" class="side_window_no" alt="Multi image for {{ cluster_family.name }} family"></a>
      <p style="margin-bottom:220px;">
      <hr>
      <h4 class="h4">CATH {{ cluster_family.name }} <a href= "http://www.cathdb.info/version/latest/superfamily/{{ cluster_family.name }}/classification">structural clusters</a></h4>
      </p>
      <hr>
      <h4>Clusters ({{ cluster_family_clusters|length }})</h4>
      <ul class="domain-list">
        {% for cluster in cluster_family_clusters %}
        <li class="small"><a href="{{ url_for('items.cluster', cluster=cluster.name, version=cluster_version.name) }}">{{ cluster.name }}</a></li>
        {% endfor %}
      </ul>
      <hr>
      {% if cluster_domains|length > 0 %}<h4>Domains ({{ cluster_domains|length }})</h4>{% else %}<h4>Domains not tracked</h4>{% endif %}
      <ul class="domain-list">
        {% for domain in cluster_domains %}
        <li class="small"><a href="{{ url_for('items.domain', domain=domain.name, version=cluster_version.name) }}">{{ domain.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
