{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}2DProts{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>Job {{ job_id }}</h2>
  <p>Created {{ job_created }} is in status {{ job_status }}.</p>

  <div class="row">
    <div class="col-sm-9">
      <h2>2D multi diagram</h2>

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" role="tab" href="#no_transparency_no_averages">No transparency, no averages</a></li>
      </ul>

      <div class="tab-content">
        <div id="no_transparency_no_averages" class="tab-pane active" role="tabpanel">
          <figure class="figure">
            <a href="{{ url_for('static', filename=job_rel_dir+'/imageCircle-multiple.svg') }}">
              <img src="{{ url_for('static', filename=job_rel_dir+'/imageCircle-multiple.svg') }}" class="figure-img img-fluid rounded twodprot_img" alt="Multi image for {{ job_family }}">
            </a>
            <figcaption class="figure-caption">Multi image for {{ job_family }} with {{ job_domains|join(', ') }}</figcaption>
          </figure>
        </div>
      </div>

    </div>

    <div class="col-sm-3">
      <h2>From family <a href="{{ url_for('items.family', family=job_family) }}">{{ job_family }}</a></h2>

      <h2>Domains ({{ job_domains|length }})</h2>
      <ul class="overflow-auto domain-list">
        {% for domain in job_domains %}
        <li><a href="{{ url_for('items.domain', domain=domain) }}">{{ domain }}</a></li>
        {% endfor %}
      </ul>
    </div>

  </div>
{% endblock %}
