{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}2DProts{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>Create custom image</h2>

  <p>Here you can create custom multi image from provided domains. All the domains in their latest version have to be from one family. Enter one domain (e.g. <code>1tqnA00</code>) per line, at most {{ max_domains }} of them.</p>

  <hr/>

  <div class="row">
    <div class="col-sm-6">
      <div>
        <form action="{{ url_for('items.custom') }}" method="POST">
          <label for="input">Domains:</label><br>
          <textarea id="input" name="input" spellcheck="false" class="form-control" rows="10"></textarea><br>
          <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-sm-6">
      <p>For example if you want to show only all domains of <code>1ecp</code> protein from family <code>3.40.50.1580</code>, just copy&amp;paste following list:</p>
      <pre><code>1ecpA00
1ecpB00
1ecpC00
1ecpD00
1ecpE00
1ecpF00</code></pre>
    </div>
  </div>

{% endblock %}
