{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Domain {{ domain.name }}{% endblock %}</h1>
  <style>
  .main_window_no {
      position: absolute;
      top: 100px;
      left: 0px;
      display: none;
      max-width: 800px;
      max-height:600px
  }
  </style>
  <style>
  .main_window
  {
      position: absolute;
      top: 100px;
      left: 0px;
      display: block;
      max-width: 800px;
      max-height: 600px
  }
  </style>
  <style>
  .side_window_no {
      position: absolute;
      top: 125px;
      left: 15px;
      display: none;
      height: 200px;
  }
  </style>
  <style>
  .side_window
  {
      position: absolute;
      top: 125px;
      left: 15px;
      display: block;
      height: 200px;
  }
  </style>
  <style>
  .prot_window_no {
      position: absolute;
      top: 415px;
      left: 15px;
      display: none;
      height: 200px;
  }
  </style>
  <style>
  .prot_window
  {
      position: absolute;
      top: 415px;
      left: 15px;
      display: block;
      height: 200px;
  }
  </style>
  <script>
  function SwitchVisibility(element_name) {
    // get the clock
    var myElement = document.getElementById(element_name);

    // get the current value
    var displaySetting = myElement.style.display;

    // now toggle the clock, depending on current state
    if (displaySetting == 'block') {
      // is visible. hide it
      myElement.style.display = 'none';
    }
    else {
      // is hidden. show it
      myElement.style.display = 'block';
    }
  }
  </script>
  <script>
  function SwitchVisibility3(element_name) {
    // get the clock
    var myElement = document.getElementById(element_name);

    // get the current value
    var displaySetting = myElement.style.display;

    // now toggle the clock, depending on current state
    if (displaySetting != 'none') {
      // is visible. hide it
      myElement.style.display = 'none';
    }
    else {
      // is hidden. show it
      myElement.style.display = 'block';
    }
  }
  </script>

{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-9">
      <h4>2D domain diagram</h4>

      <input type="checkbox" class="active" id="transparency" onchange="SwitchVisibility3('sses_img');" checked>
      <label for="transparency"> SSEs </label>

      <input type="checkbox" id="ligands" onchange="SwitchVisibility('ligands_img');SwitchVisibility('ligands_multi_fam');SwitchVisibility('ligands_multi_prot');">
      <label for="ligands"> Ligands </label>

      <input type="checkbox" id="channels" onchange="SwitchVisibility('channels_img');SwitchVisibility('channels_multi_fam');SwitchVisibility('channels_multi_prot');">
      <label for="channels"> Channels </label>

     <ul class="nav nav-tabs" role="tablist">
      </ul>

      <div class="tab-content">
        <figure class="figure">
          <a href="{{ url_for('static', filename=domain_family_dir+'/' + domain.name [0:4] + '_'+domain.name[4:] + '.svg') }}">
            <img id="sses_img" src="{{ url_for('static', filename=domain_family_dir+'/' + domain.name[0:4] + '_'+domain.name[4:] + '.svg') }}" class="main_window" alt="Diagram for {{ domain.name }}">
            <img id="ligands_img" src="{{ url_for('static', filename=domain_family_dir+'/' + domain.name[0:4] + '_'+domain.name[4:] + 'l.svg') }}" class="main_window_no" alt="Diagram for {{ domain.name }}">
            <img id="channels_img" src="{{ url_for('static', filename=domain_family_dir+'/' + domain.name[0:4] + '_'+domain.name[4:] + 'c.svg') }}" class="main_window_no" alt="Diagram for {{ domain.name }}">
          </a>

        </figure>
        <p style="margin-bottom:610px">
        </p>
        Diagram for domain: {{ domain.name }}(<a href="{{ url_for('static', filename=domain_family_dir+'/' + domain.name[0:4] + '_'+domain.name[4:] + '.svg') }}">SSEs</a>,
        <a href="{{ url_for('static', filename=domain_family_dir+'/' + domain.name[0:4] + '_'+domain.name[4:] + 'l.svg') }}">ligands</a>,
        <a href="{{ url_for('static', filename=domain_family_dir+'/' + domain.name[0:4] + '_'+domain.name[4:] + 'c.svg') }}">channels</a>).

 <!--
        <div id="domain" class="tab-pane active" role="tabpanel">
          <figure class="figure">
            <a href="{{ url_for('static', filename=domain_family_dir+'/image-'+domain.name[0:4]+'_'+domain.name[4:]+'.svg') }}">
               <img src="{{ url_for('static', filename=domain_family_dir+'/image-'+domain.name[0:4]+'_'+domain.name[4:]+'.svg') }}" class="figure-img img-fluid rounded twodprot_img" alt="Image for {{ domain.name }} domain">
            </a>
            <figcaption class="figure-caption">2D diagram for domain PDB ID <a href="https://www.ebi.ac.uk/pdbe/entry/pdb/{{ domain.name[0:4] }}" title="More info on protein PDB ID {{ domain.name[0:4] }}">{{ domain.name[0:4] }}</a> chain {{ domain.name[4:-2] }} domain {{ domain.name[-2:] }} (<a href="{{ url_for('static', filename=domain_family_dir+'/image-'+domain.name[0:4]+'_'+domain.name[4:]+'.svg') }}">svg source</a>)</figcaption>
          </figure>
        </div> 
-->
      </div>
    </div>

    <div class="col-sm-3">
      <p>
      {% if domain_prev is not none %}<a href="{{ url_for('items.domain', domain=domain_prev.name, version=domain_version.name) }}">« {{ domain_prev.name }}</a>{% else %}« no prev.{% endif %}
      |
      {% if domain_next is not none %}<a href="{{ url_for('items.domain', domain=domain_next.name, version=domain_version.name) }}">{{ domain_next.name }} »</a>{% else %}no next »{% endif %}
      </p>

      <hr>
      <h4 class="h3">Member of family: <a href="{{ url_for('items.family', family=domain_family.name) }}">{{ domain_family.name }}</a></h4>
      <a href="{{ url_for('items.family', family=domain_family.name, version=domain_version.name) }}"> 
        <img id="sses_multi_fam" src="{{ url_for('static', filename=domain_family_dir+"/"+domain_family.name+'_sses2.svg') }}" class="side_window" alt="Multi image for {{ domain_family.name }} family"></a>
        <img id="sses2_multi_fam" src="{{ url_for('static', filename=domain_family_dir+"/"+domain_family.name+'_sses.svg') }}" class="side_window_no" alt="Multi image for {{ domain_family.name }} family"></a>
        <img id="ligands_multi_fam" src="{{ url_for('static', filename=domain_family_dir+"/"+domain_family.name+'_ligands.svg') }}" class="side_window_no" alt="Multi image for {{ domain_family.name }} family"></a>
        <img id="template_multi_fam" src="{{ url_for('static', filename=domain_family_dir+"/"+domain_family.name+'_template.svg') }}" class="side_window_no" alt="Multi image for {{ domain_family.name }} family"></a>
        <img id="channels_multi_fam" src="{{ url_for('static', filename=domain_family_dir+"/"+domain_family.name+'_channels.svg') }}" class="side_window_no" alt="Multi image for {{ domain_family.name }} family"></a>
      
      <p style="margin-bottom:220px">
      </p>
      <hr>
      {% if protein is defined %}
      <h4 class="h3">Part of protein: <a href="{{ url_for('items.protein', protein=protein.name) }}">{{ protein.name }}</a></h4>
      <a href="{{ url_for('items.protein', protein=protein.name) }}">
        <img id="sses_multi_prot" src="{{ url_for('static', filename=protein_dir+'/'+protein.name+".svg") }}" class="prot_window" alt="Image for {{ protein.name }} domain">
        <img id="ligands_multi_prot" src="{{ url_for('static', filename=protein_dir+'/'+protein.name+"_l.svg") }}" class="prot_window_no" alt="Image for {{ protein.name }} domain">
        <img id="channels_multi_prot" src="{{ url_for('static', filename=protein_dir+'/'+protein.name+"_c.svg") }}" class="prot_window_no" alt="Image for {{ protein.name }} domain">
      </a>
      {% else %}
      <h4 class="h3">No protein info</h4>
      {% endif %}
      <p style="margin-bottom:235px">
      </p>
      <hr>
      <h4 class="h3">Versions ({{ domain_versions|length }})</h4>
      <ul class="domain-list">
        {% for ver in domain_versions %}
        <li class="small">{% if ver == domain_version %}<strong>{% endif %}<a href="{{ url_for('items.domain', domain=domain.name, version=ver['name']) }}">{{ ver.name }}</a>{% if ver == domain_version %}</strong>{% endif %}{% if loop.first %} (latest){% endif %}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
