{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Family {{ family.name }}{% endblock %}</h1>
  <style>
  .main_window_no {
      position: absolute;
      top: 100px;
      left: 0px;
      display: none;
      height: 600px;
  }
  </style>
  <style>
  .main_window
  {
      position: absolute;
      top: 100px;
      left: 0px;
      display: block;
      height: 600px;
  }
  </style>
  <script>
  function SwitchVisibility(element_name) {
    // get the clock
    var myElement = document.getElementById(element_name);

    // get the current value
    var displaySetting = myElement.style.display;

    // now toggle the clock, depending on current state
    if (displaySetting == 'block') {
      // is visible. hide it
      myElement.style.display = 'none';
    }
    else {
      // is hidden. show it
      myElement.style.display = 'block';
    }
  }
  </script>
  <script>
  function SwitchVisibility2(element_name1, element_name2) {
    // get the clock
    var myElement1 = document.getElementById(element_name1);
    var myElement2 = document.getElementById(element_name2);

    // get the current value
    var displaySetting = myElement1.style.display;

    // now toggle the clock, depending on current state
    if (displaySetting == 'block') {
      // is visible. hide it
      myElement1.style.display = 'none';
      myElement2.style.display = 'block';
    }
    else {
      // is hidden. show it
      myElement1.style.display = 'block';
      myElement2.style.display = 'none';
    }
  }
  </script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-9">
      <h4>2D multi diagram</h4>

      <input type="checkbox" class="active" id="transparency" onchange="SwitchVisibility2('sses_multi_img', 'sses2_multi_img');" checked>
      <label for="transparency"> Transparency </label>

      <input type="checkbox" id="template" onchange="SwitchVisibility('template_multi_img');">
      <label for="template"> Template </label>

      <input type="checkbox" class="active" id="ligands"  onchange="SwitchVisibility('ligands_multi_img');">
      <label for="ligands"> Ligands </label>

      <input type="checkbox" class="active" id="channels"  onchange="SwitchVisibility('channels_multi_img');">
      <label for="channels"> Channels </label>


      <div class="tab-content">
        <figure class="figure">
          <a href="{{ url_for('static', filename=family_dir+'/' + family.name + '_sses2.svg') }}">
            <img id="sses_multi_img" src="{{ url_for('static', filename=family_dir+'/' + family.name + '_sses.svg') }}" class="main_window_no" alt="Multi image for {{ family.name }} transparent">
            <img id="sses2_multi_img" src="{{ url_for('static', filename=family_dir+'/' + family.name + '_sses2.svg') }}" class="main_window" alt="Multi image for {{ family.name }} transparent">
            <img id="ligands_multi_img" src="{{ url_for('static', filename=family_dir+'/' + family.name + '_ligands.svg') }}" class="main_window_no" alt="Multi image for {{ family.name }}  transparent">
            <img id="template_multi_img" src="{{ url_for('static', filename=family_dir+'/' + family.name + '_template.svg') }}" class="main_window_no" alt="Multi image for {{ family.name }}  transparent">
            <img id="channels_multi_img" src="{{ url_for('static', filename=family_dir+'/' + family.name + '_channels.svg') }}" class="main_window_no" alt="Multi image for {{ family.name }}  transparent">
          </a>
        </figure>
        <p style="margin-bottom:610px"> </p>
        Multi-diagram for family: {{ family.name }}(<a href="{{ url_for('static', filename=family_dir+'/' + family.name + '_sses2.svg') }}">SSEs transparent</a>, 
          <a href="{{ url_for('static', filename=family_dir+'/' + family.name + '_sses.svg') }}">SSEs standart</a>, 
          <a href="{{ url_for('static', filename=family_dir+'/' + family.name + '_template.svg') }}"> template</a>, 
          <a href="{{ url_for('static', filename=family_dir+'/' + family.name + '_ligands.svg') }}"> ligands</a>, 
          <a href="{{ url_for('static', filename=family_dir+'/' + family.name + '_channels.svg') }}"> channels</a>).
      </div>
    </div>

    <div class="col-sm-3">

      <p>
      {% if family_prev is not none %}<a href="{{ url_for('items.family', family=family_prev.name) }}">« {{ family_prev.name }}</a>{% else %}« no prev.{% endif %}
      |
      {% if family_next is not none %}<a href="{{ url_for('items.family', family=family_next.name) }}">{{ family_next.name }} »</a>{% else %}no next »{% endif %}
      </p>

      <hr>
      <h4 class="h3">3D model (<a href="https://www.cathdb.info/version/latest/superfamily/{{ family.name }}">CATH</a>)</h4>
      <a href="https://www.cathdb.info/version/latest/superfamily/{{ family.name }}">
        <img src="http://www.cathdb.info/version/latest/molscript/{{ family.name }}/M" class="img-fluid rounded twodprot_img" alt="3D model of {{ family.name }} from CATH">
      </a>

      <hr>
      <h4>Domains ({{ family_domains|length }})</h4>
      <ul class="domain-list">
        {% for domain in family_domains %}
        <li class="small"><a href="{{ url_for('items.domain', domain=domain.name, version=family_version.name) }}">{{ domain.name }}</a></li>
        {% endfor %}
      </ul>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <a href="{{ url_for('items.family_csv', family=family.name, version=family_version.name) }}"><button class="btn"><i class="fa fa-download"></i> Domains CSV</button></a>

      <hr>
      <h4>Clusters ({{ family_clusters|length }})</h4>
      <ul class="domain-list">
        {% for cluster in family_clusters %}
        <li class="small"><a href="{{ url_for('items.cluster', cluster=cluster.name, version=family_version.name) }}">{{ cluster.name }}</a></li>
        {% endfor %}
      </ul>

      <hr>
      <h4>Versions ({{ family_versions|length }})</h4>
      <ul class="domain-list">
        {% for ver in family_versions %}
        <li class="small">{% if ver.name == family_version.name %}<strong>{% endif %}<a href="{{ url_for('items.family', family=family.name, version=ver.name) }}">{{ ver.name }}</a>{% if ver.name == family_version.name %}</strong>{% endif %}{% if loop.first %} (latest){% endif %}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
