{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}2DProts{% endblock %}</h2>
{% endblock %}

{% block content %}
  <h4>Database of 2D diagrams of domain secondary structures</h4>

  <p>Welcome to the 2DProts web database. This novel database contains 2D diagrams of secondary structures of domains
  in protein biomacromolecules. Offered diagrams visualize relative distance between single secondary structure
  elements, as well as position of amino acids that comprise each element in the sequence of the domain.</p>

  <p>Another type of visualization diagrams, that are provided in the 2DProts database, are the multiple 2D diagrams.
  These diagrams are well suited for visualization of secondary structures among whole protein families. With four
  types of multiple 2D diagrams being on offer, users can decide whether they are more interested in showing outlying
  differences, or whether they want to emphasize the visualization of the common parts.</p>

  <p>The 2DProts database contains precomputed diagrams for all proteins in the
  <a href="https://www.ebi.ac.uk/pdbe/" target="_blank">PDB database</a>, as well as multiple 2D diagrams for all
  domains from the <a href="http://www.cathdb.info/browse/tree" target="_blank">CATH hierarchy</a>. 2DProts is updated
  regulary. More information about methods, used to compute and draw 2D diagrams and multiple 2D diagrams, is available
  <a href="{{ url_for('static', filename='2DProt.pdf') }}" target="_blank" title="Description of methods (PDF, opens in new window/tab)">here</a>.
  A quick manual for users is available <a href="{{ url_for('items.manual') }}">here</a>.</p>

  <hr/>

  <p>Now we have {{ "{domains:,}".format(domains=domains) }} domains in {{ "{families:,}".format(families=families) }} families and {{ "{proteins:,}".format(proteins=proteins) }} proteins</p>

  <hr/>

  <h4>Examples</h4>

  <p>Click headings below to expand:</p>

  <div class="m-5 text-center">

    <div id="accordion">

      <div class="card">

        <div class="card-header bg-white">
          <div class="p-2" data-toggle="collapse" data-target="#collapse_porin">
            <div class="row">
              <div class="col-sm-3"><img src="{{ url_for('static', filename='images/2-40-160-10-2d.jpg') }}" width="150"/></div>
              <div class="col d-flex align-items-center"><h4>Porin (protein family 2.40.160.10)</h4></div>
            </div>
          </div>
        </div>

        <div class="collapse" id="collapse_porin" data-parent="#accordion">
          <div class="card-body">

            <div class="row">
              <div class="col">
                <a href="{{ url_for('items.domain', domain='1prnA00') }}">
                <img src="{{ url_for('static', filename='images/1prnA00-2d.jpg') }}" width="250"/>
                </a>
              </div>
              <div class="col">
                <img src="{{ url_for('static', filename='images/1prnA00-3d.jpg') }}" width="250"/>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>2DProt model</p>
              </div>
              <div class="col">
                <p>3D structure model</p>
              </div>
            </div>
            <p>Protein <a href="{{ url_for('items.domain', domain='1prnA00') }}">1prn chain A domain 00<a></p>

            <div class="row">
              <div class="col">
                <a href="{{ url_for('items.family', family='2.40.160.10') }}">
                <img src="{{ url_for('static', filename='images/2-40-160-10-2d.jpg') }}" width="250"/>
                </a>
              </div>
              <div class="col">
                <img src="{{ url_for('static', filename='images/2-40-160-10-3d.jpg') }}" width="250"/>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>Multiple 2DProt model</p>
              </div>
              <div class="col">
                <p>3D structure model</p>
              </div>
            </div>
            <p>Protein family <a href="{{ url_for('items.family', family='2.40.160.10') }}">2.40.160.10</a> – Porin</p>

          </div>
        </div>

      </div>

      <div class="card">

        <div class="card-header bg-white">
          <div class="p-2" data-toggle="collapse" data-target="#collapse_cterminal">
            <div class="row">
              <div class="col-sm-3"><img src="{{ url_for('static', filename='images/2-140-10-30-2d.jpg') }}" width="150"/></div>
              <div class="col d-flex align-items-center"><h4>Cytochrome reductase (protein family 2.140.10.30)</h4></div>
            </div>
          </div>
        </div>

        <div class="collapse" id="collapse_cterminal" data-parent="#accordion">
          <div class="card-body">

            <div class="row">
              <div class="col">
                <a href="{{ url_for('items.domain', domain='1orwB01') }}">
                <img src="{{ url_for('static', filename='images/1orwB01-2d.jpg') }}" width="250"/>
                </a>
              </div>
              <div class="col">
                <img src="{{ url_for('static', filename='images/1orwB01-3d.jpg') }}" width="250"/>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>2DProt model</p>
              </div>
              <div class="col">
                <p>3D structure model</p>
              </div>
            </div>
            <p>Protein <a href="{{ url_for('items.domain', domain='1orwB01') }}">1orw chain B domain 01</a></p>

            <div class="row">
              <div class="col">
                <a href="{{ url_for('items.family', family='2.140.10.30') }}">
                <img src="{{ url_for('static', filename='images/2-140-10-30-2d.jpg') }}" width="250"/>
                </a>
              </div>
              <div class="col">
                <img src="{{ url_for('static', filename='images/2-140-10-30-3d.jpg') }}" width="250"/>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>Multiple 2DProt model</p>
              </div>
              <div class="col">
                <p>3D structure model</p>
              </div>
            </div>
            <p>Protein family <a href="{{ url_for('items.family', family='2.140.10.30') }}">2.140.10.30</a> – C-terminal (heme d1) domain of cytochrome cd1-nitrite reductase</p>

          </div>
        </div>

      </div>

      <div class="card">

        <div class="card-header bg-white">
          <div class="p-2" data-toggle="collapse" data-target="#collapse_cyp">
            <div class="row">
              <div class="col-sm-3"><img src="{{ url_for('static', filename='images/1-10-630-10-2d.jpg') }}" width="150"/></div>
              <div class="col d-flex align-items-center"><h4>Cytochrome P450 (protein family 1.10.630.10)</h4></div>
            </div>
          </div>
        </div>

        <div class="collapse" id="collapse_cyp" data-parent="#accordion">
          <div class="card-body">

            <div class="row">
              <div class="col">
                <a href="{{ url_for('items.domain', domain='1og2A00') }}">
                <img src="{{ url_for('static', filename='images/1og2A00-2d.jpg') }}" width="250"/>
                </a>
              </div>
              <div class="col">
                <img src="{{ url_for('static', filename='images/1og2A00-3d.jpg') }}" width="250"/>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>2DProt model</p>
              </div>
              <div class="col">
                <p>3D structure model</p>
              </div>
            </div>
            <p>Protein <a href="{{ url_for('items.domain', domain='1og2A00') }}">1og2 chain A domain 00</a></p>

            <div class="row">
              <div class="col">
                <a href="{{ url_for('items.family', family='1.10.630.10') }}">
                <img src="{{ url_for('static', filename='images/1-10-630-10-2d.jpg') }}" width="250"/>
                </a>
              </div>
              <div class="col">
                <img src="{{ url_for('static', filename='images/1-10-630-10-3d.jpg') }}" width="250"/>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>Multiple 2DProt model</p>
              </div>
              <div class="col">
                <p>3D structure model</p>
              </div>
            </div>
            <p>Protein family <a href="{{ url_for('items.family', family='1.10.630.10') }}">1.10.630.10</a> – Cytochrome P450</p>

          </div>
        </div>

      </div>

      <div class="card">

        <div class="card-header bg-white">
          <div class="p-2" data-toggle="collapse" data-target="#collapse_clusters">
            <div class="row">
              <div class="col-sm-3"><img src="{{ url_for('static', filename='images/3-30-1060-10-2d.jpg') }}" width="150"/></div>
              <div class="col d-flex align-items-center"><h4>Peptide methionine sulphoxide reductase MsrA (protein family 3.30.1060.10) - cluster example</h4></div>
            </div>
          </div>
        </div>

        <div class="collapse" id="collapse_clusters" data-parent="#accordion">
          <div class="card-body">

            <div class="row">
              <div class="col">
                <a href="{{ url_for('items.family', family='3.30.1060.10') }}">
                <img src="{{ url_for('static', filename='images/3-30-1060-10-2d.jpg') }}" width="250"/>
                </a>
              </div>
              <div class="col">
                <img src="{{ url_for('static', filename='images/3-30-1060-10-3d.jpg') }}" width="250"/>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>Multiple 2DProt model</p>
              </div>
              <div class="col">
                <p>3D structure model</p>
              </div>
            </div>
            <p>Protein family <a href="{{ url_for('items.family', family='3.30.1060.10') }}">3.30.1060.10</a> – Peptide methionine sulphoxide reductase MsrA</p>

            <div class="row">
              <div class="col">
                <a href="{{ url_for('items.cluster', cluster='3.30.1060.10.3') }}">
                <img src="{{ url_for('static', filename='images/3-30-1060-10-3-2d.jpg') }}" width="250"/>
                </a>
              </div>
              <div class="col">
                <img src="{{ url_for('static', filename='images/3-30-1060-10-3-3d.jpg') }}" width="250"/>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>Multiple 2DProt model</p>
              </div>
              <div class="col">
                <p>3D structure model</p>
              </div>
            </div>
            <p>Protein family cluster <a href="{{ url_for('items.cluster', cluster='3.30.1060.10.3') }}">3.30.1060.10.3</a></p>

            <div class="row">
              <div class="col">
                <a href="{{ url_for('items.cluster', cluster='3.30.1060.10.4') }}">
                <img src="{{ url_for('static', filename='images/3-30-1060-10-4-2d.jpg') }}" width="250"/>
                </a>
              </div>
              <div class="col">
                <img src="{{ url_for('static', filename='images/3-30-1060-10-4-3d.jpg') }}" width="250"/>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>Multiple 2DProt model</p>
              </div>
              <div class="col">
                <p>3D structure model</p>
              </div>
            </div>
            <p>Protein family cluster <a href="{{ url_for('items.cluster', cluster='3.30.1060.10.4') }}">3.30.1060.10.4</a></p>

          </div>
        </div>

      </div>

    </div>

  </div>

  <hr/>

  <div class="m-5">

    <h4>Citing</h4>

    <p>If you found 2DProts helpful, please cite:</p>

    <p>HUTAŘOVÁ VAŘEKOVÁ, Ivana, Jan HUTAŘ, Adam MIDLIK, Vladimír HORSKÝ, Eva HLADKÁ, Radka SVOBODOVÁ and Karel BERKA (2021) <cite>2DProts: database of family-wide protein secondary structure diagrams</cite>. Bioinformatics. Oxford University Press, ISSN 1367-4803. <a href='https://doi.org/10.1093/bioinformatics/btab505'>https://doi.org/10.1093/bioinformatics/btab505</a></p>

  </div>

  <hr/>

{% endblock %}
