{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Protein {{ protein.name }}{% endblock %}</h1>
    <style>
  .main_window_no {
      position: absolute;
      top: 100px;
      left: 0px;
      display: none;
      max-height: 600px;
      max-width: 800px;
  }
  </style>
  <style>
  .main_window
  {
      position: absolute;
      top: 100px;
      left: 0px;
      display: block;
      max-height: 600px;
      max-width: 800px;
  }
  </style>
  <script>
  function SwitchVisibility(element_name) {
    // get the clock
    var myElement = document.getElementById(element_name);

    // get the current value
    var displaySetting = myElement.style.display;

    // now toggle the clock, depending on current state
    if (displaySetting == 'block') {
      // is visible. hide it
      myElement.style.display = 'none';
    }
    else {
      // is hidden. show it
      myElement.style.display = 'block';
    }
  }
  </script>
  <script>
  function SwitchVisibility3(element_name) {
    // get the clock
    var myElement = document.getElementById(element_name);

    // get the current value
    var displaySetting = myElement.style.display;

    // now toggle the clock, depending on current state
    if (displaySetting != 'none') {
      // is visible. hide it
      myElement.style.display = 'none';
    }
    else {
      // is hidden. show it
      myElement.style.display = 'block';
    }
  }
  </script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-9">
      <h4>2D protein diagram</h4>
      <h4>2D multi diagram</h4>

      <input type="checkbox" class="active" id="sses"  onchange="SwitchVisibility3('sses_multi_img');" checked>
      <label for="sses"> SSEs </label>

      <input type="checkbox" class="active" id="ligands"  onchange="SwitchVisibility('ligands_multi_img');">
      <label for="ligands"> Ligands </label>

      <input type="checkbox" class="active" id="channels"  onchange="SwitchVisibility('channels_multi_img');">
      <label for="channels"> Channels </label>

      <div class="tab-content">
        <figure class="figure">
          <a href="{{ url_for('static', filename=protein_dir + '/' + protein_filename) }}">
            <img id="sses_multi_img" src="{{ url_for('static', filename=protein_dir + '/' + protein.name) + '.svg' }}" class="main_window" alt="Multi image for {{ protein.name }} transparent">
            <img id="ligands_multi_img" src="{{ url_for('static', filename=protein_dir + '/' + protein.name + '_l.svg') }}" class="main_window_no" alt="Multi image for {{ protein.name }}  transparent">
            <img id="channels_multi_img" src="{{ url_for('static', filename=protein_dir + '/' + protein.name + '_c.svg') }}" class="main_window_no" alt="Multi image for {{ protein.name }}  transparent">
          </a>
        </figure>
        <p style="margin-bottom:615px">
        </p>
        Diagram for protein: {{ protein.name }}(<a href="{{ url_for('static', filename=protein_dir+'/'+protein.name +'.svg') }}">SSEs</a>, 
          <a href="{{ url_for('static', filename=protein_dir+'/' + protein.name + '_l.svg') }}"> ligands</a>, 
          <a href="{{ url_for('static', filename=protein_dir+'/' + protein.name + '_c.svg') }}"> channels</a>).
          
      </div>
    </div>

    <div class="col-sm-3">
      <p>
      {% if protein_prev is not none %}<a href="{{ url_for('items.protein', protein=protein_prev.name) }}">« {{ protein_prev.name }}</a>{% else %}« no prev.{% endif %}
      |
      {% if protein_next is not none %}<a href="{{ url_for('items.protein', protein=protein_next.name) }}">{{ protein_next.name }} »</a>{% else %}no next »{% endif %}
      </p>

      <hr>
      <h4 class="h3">3D model (<a href="https://www.ebi.ac.uk/pdbe/entry/pdb/{{ protein.name }}">PDBe</a>)</h4>
      <a href="https://www.ebi.ac.uk/pdbe/entry/pdb/{{ protein.name }}">
        <img src="https://www.ebi.ac.uk/pdbe/static/entry/{{ protein.name }}_deposited_chain_front_image-200x200.png" class="img-fluid rounded twodprot_img" alt="3D model of {{ protein.name }} from PDBe">
      </a>

      <hr>
      <h4 class="h3"><a href="http://cathdb.info/pdb/{{ protein.name }}">CATH</a> domains ({{ protein_domains_pager.total }})</h4>
      <ul class="domain-list">
        {% for dom in protein_domains %}
        <li class="small"><a href="{{ url_for('items.domain', domain=dom.domain.name, version=dom.domain_version.name) }}">{{ dom.domain.name }}</a> - <a href="{{ url_for('items.family', family=dom.domain_family.name, version=dom.domain_version.name) }}">{{ dom.domain_family.name }}</a></li>
        {% endfor %}
      </ul>

      <p>
      {% if protein_domains_pager.has_prev or protein_domains_pager.has_next %}
         {% if protein_domains_pager.has_prev %}<a href="{{ url_for('items.protein', protein=protein.name, version=protein_version.name, domains_page=protein_domains_pager.prev_num) }}">« prev</a>{% else %}« no prev.{% endif %}
         | on page {{ protein_domains_pager.page }} |
         {% if protein_domains_pager.has_next %}<a href="{{ url_for('items.protein', protein=protein.name, version=protein_version.name, domains_page=protein_domains_pager.next_num) }}">next »</a>{% else %}no next »{% endif %}
      {% endif %}
      </p>

      <hr>
      <h4 class="h3">Versions ({{ protein_versions|length }})</h4>
      <ul class="domain-list">
        {% for ver in protein_versions %}
        <li class="small">{% if ver.name == protein_version.name %}<strong>{% endif %}<a href="{{ url_for('items.protein', protein=protein.name, version=ver.name) }}">{{ ver.name }}</a>{% if ver.name == protein_version.name %}</strong>{% endif %}{% if loop.first %} (latest){% endif %}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
