{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Search results{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>{{ families|length }} families found</h2>
  <ul>
    {% for family in families %}
    <li><a href="{{ url_for('items.family', family=family.name) }}">{{ family.name }}</a></li>
    {% endfor %}
  </ul>

  <h2>{{ proteins|length }} proteins found</h2>
  <ul>
    {% for protein in proteins %}
    <li><a href="{{ url_for('items.protein', protein=protein.name) }}">{{ protein.name }}</a></li>
    {% endfor %}
  </ul>

  <h2>{{ domains|length }} domains found</h2>
  <ul>
    {% for domain in domains %}
    <li><a href="{{ url_for('items.domain', domain=domain.name) }}">{{ domain.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
